/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/
/* Set theme colors *************************/
/******************************************************************************
 * Content
 ******************************************************************************/
body {
  padding-bottom: 70px;
  color: #111;
}

body.fixed-top-nav {
  padding-top: 56px;
}

body.sticky-bottom-footer {
  padding-bottom: 0;
}

.container {
  max-width: 800px;
}

.profile img {
  width: 100%;
}

.lineno {
  margin-right: 5px;
  opacity: 0.5;
}

pre.highlight {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
}

/******************************************************************************
 * Publications
 ******************************************************************************/
/*****************************************************************************
* Projects
*****************************************************************************/
.samples {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.samples .sample {
  width: 25%;
}

/*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/
a, table.table a {
  color: #d66c25;
}
a:hover, table.table a:hover {
  color: #d66c25;
  text-decoration: underline;
}
a:hover:after, table.table a:hover:after {
  width: 100%;
}

.equation {
  margin-bottom: 1rem;
  text-align: center;
}

.caption {
  font-size: 0.875rem;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.profile {
  margin-left: 1rem;
  width: 100%;
}
.profile .address {
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: monospace;
  font-size: 1.2rem;
}
.profile .address p {
  display: inline-block;
  margin: 0;
}

@media (min-width: 576px) {
  .profile {
    width: 30%;
  }
  .profile .address p {
    display: block;
  }
}
.post-description {
  margin-bottom: 2rem;
}
.post-description a {
  color: inherit;
  font-size: 0.875rem;
}
.post-description a:hover {
  color: #d66c25;
  text-decoration: none;
}

.navbar {
  box-shadow: none;
  border-bottom: 1px solid #e8e8e8;
  opacity: 0.95;
}

.navbar.navbar-light a:hover {
  text-decoration: none;
}
.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #d66c25;
}
.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
  background-color: inherit;
  color: #d66c25;
  font-weight: bolder;
}
.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link:hover {
  color: #d66c25;
}
.navbar.navbar-light .contact-icon {
  font-size: 2rem;
}
.navbar.navbar-light .contact-icon a {
  color: #424242;
}
.navbar.navbar-light .contact-icon a:hover {
  color: #d66c25;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #424242;
  border-radius: 1px;
  margin-bottom: 4px;
  transition: all 0.2s;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.news table td {
  font-size: 1rem;
}

.social {
  text-align: center;
}
.social .contact-icon {
  font-size: 4rem;
}
.social .contact-icon a {
  color: #424242;
}
.social .contact-icon a:hover {
  color: #d66c25;
}
.social .contact-note {
  font-size: 0.8rem;
}

footer.fixed-bottom {
  color: #c2c2c2;
  background-color: #424242;
  font-size: 0.75rem;
}
footer.fixed-bottom .container {
  padding-top: 9px;
  padding-bottom: 8px;
}
footer.fixed-bottom a {
  color: white;
}
footer.fixed-bottom a:hover {
  color: #ecb48f;
  text-decoration: none;
}

footer.sticky-bottom {
  border-top: 1px solid #e8e8e8;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0.9rem;
}

.header-bar {
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
}
.header-bar h1 {
  color: #d66c25;
  font-size: 5rem;
}

.post-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}
.post-list li {
  border-bottom: 1px solid #e8e8e8;
  list-style: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.post-list li .post-meta {
  color: #828282;
  font-size: 0.875rem;
  margin-bottom: 0;
}
.post-list li a {
  color: black;
  text-decoration: none;
}
.post-list li a:hover {
  color: #d66c25;
}

.pagination .page-item.active .page-link {
  background-color: #d66c25;
}
.pagination .page-item.active .page-link:hover {
  background-color: #d66c25;
}

.distill a:hover {
  border-bottom-color: #d66c25;
  text-decoration: none;
}

.projects .grid-item {
  width: 250px;
  margin-bottom: 10px;
}
.projects .grid-item a {
  color: black;
  text-decoration: none;
}
.projects .grid-item a:hover {
  color: #d66c25;
}
.projects .card img {
  width: 100%;
}

.publications {
  margin-top: 2rem;
}
.publications h1 {
  color: #d66c25;
  font-size: 2rem;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.publications h2 {
  margin-bottom: 1rem;
}
.publications h2 span {
  font-size: 1.5rem;
}
.publications h2.year {
  color: #e8e8e8;
  border-top: 1px solid #e8e8e8;
  padding-top: 1rem;
  margin-top: 2rem;
  margin-bottom: -2rem;
  text-align: right;
}
.publications ol.bibliography {
  list-style: none;
  padding: 0;
  margin-top: 0;
}
.publications ol.bibliography li {
  margin-bottom: 1rem;
}
.publications ol.bibliography li .abbr {
  height: 2rem;
  margin-bottom: 0.5rem;
}
.publications ol.bibliography li .abbr abbr {
  display: inline-block;
  background-color: #d66c25;
  padding-left: 1rem;
  padding-right: 1rem;
}
.publications ol.bibliography li .abbr abbr a {
  color: white;
}
.publications ol.bibliography li .abbr abbr a:hover {
  text-decoration: none;
}
.publications ol.bibliography li .abbr .award {
  color: #d66c25 !important;
  border: 1px solid #d66c25;
}
.publications ol.bibliography li .title {
  font-weight: bolder;
}
.publications ol.bibliography li .author a {
  border-bottom: 1px dashed #d66c25;
}
.publications ol.bibliography li .author a:hover {
  border-bottom-style: solid;
  text-decoration: none;
}
.publications ol.bibliography li .author > em {
  border-bottom: 1px solid;
  font-style: normal;
}
.publications ol.bibliography li .links a.btn {
  color: #111;
  border: 1px solid #111;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.publications ol.bibliography li .links a.btn:hover {
  color: #d66c25;
  border-color: #d66c25;
}
.publications ol.bibliography li .hidden {
  font-size: 0.875rem;
  max-height: 0px;
  overflow: hidden;
  text-align: justify;
  -webkit-transition: 0.15s ease;
  -moz-transition: 0.15s ease;
  -ms-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: all 0.15s ease;
}
.publications ol.bibliography li .hidden p {
  line-height: 1.4em;
  margin: 10px;
}
.publications ol.bibliography li .hidden pre {
  font-size: 1em;
  line-height: 1.4em;
  padding: 10px;
}
.publications ol.bibliography li .hidden.open {
  max-height: 100em;
  -webkit-transition: 0.15s ease;
  -moz-transition: 0.15s ease;
  -ms-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: all 0.15s ease;
}
.publications ol.bibliography li div.abstract.hidden {
  border: dashed 1px white;
}
.publications ol.bibliography li div.abstract.hidden.open {
  border-color: #828282;
}

blockquote {
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.05);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 2px;
  border-radius: 2px;
  box-shadow: 1px 1px 4px #BBBBBB;
  font-size: 15pt;
}

blockquote::before {
  content: "\201C";
  font-size: 30pt;
  padding: 0;
  margin-top: -15px;
  margin-left: -15px;
  position: absolute;
  color: gray;
}

.CV {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 55px;
}

.highlight {
  background-color: #efefef;
  padding: 7px 7px 7px 10px;
  border: 1px solid #ddd;
  margin: 20px 0 20px 0;
  overflow: scroll;
}

code {
  font-family: 'Bitstream Vera Sans Mono','Courier', monospace;
}

.highlight .c {
  color: #586E75;
}

/* Comment */
.highlight .err {
  color: #93A1A1;
}

/* Error */
.highlight .g {
  color: #93A1A1;
}

/* Generic */
.highlight .k {
  color: #859900;
}

/* Keyword */
.highlight .l {
  color: #93A1A1;
}

/* Literal */
.highlight .n {
  color: #93A1A1;
}

/* Name */
.highlight .o {
  color: #859900;
}

/* Operator */
.highlight .x {
  color: #CB4B16;
}

/* Other */
.highlight .p {
  color: #93A1A1;
}

/* Punctuation */
.highlight .cm {
  color: #586E75;
}

/* Comment.Multiline */
.highlight .cp {
  color: #859900;
}

/* Comment.Preproc */
.highlight .c1 {
  color: #586E75;
}

/* Comment.Single */
.highlight .cs {
  color: #859900;
}

/* Comment.Special */
.highlight .gd {
  color: #2AA198;
}

/* Generic.Deleted */
.highlight .ge {
  color: #93A1A1;
  font-style: italic;
}

/* Generic.Emph */
.highlight .gr {
  color: #DC322F;
}

/* Generic.Error */
.highlight .gh {
  color: #CB4B16;
}

/* Generic.Heading */
.highlight .gi {
  color: #859900;
}

/* Generic.Inserted */
.highlight .go {
  color: #93A1A1;
}

/* Generic.Output */
.highlight .gp {
  color: #93A1A1;
}

/* Generic.Prompt */
.highlight .gs {
  color: #93A1A1;
  font-weight: bold;
}

/* Generic.Strong */
.highlight .gu {
  color: #CB4B16;
}

/* Generic.Subheading */
.highlight .gt {
  color: #93A1A1;
}

/* Generic.Traceback */
.highlight .kc {
  color: #CB4B16;
}

/* Keyword.Constant */
.highlight .kd {
  color: #268BD2;
}

/* Keyword.Declaration */
.highlight .kn {
  color: #859900;
}

/* Keyword.Namespace */
.highlight .kp {
  color: #859900;
}

/* Keyword.Pseudo */
.highlight .kr {
  color: #268BD2;
}

/* Keyword.Reserved */
.highlight .kt {
  color: #DC322F;
}

/* Keyword.Type */
.highlight .ld {
  color: #93A1A1;
}

/* Literal.Date */
.highlight .m {
  color: #2AA198;
}

/* Literal.Number */
.highlight .s {
  color: #2AA198;
}

/* Literal.String */
.highlight .na {
  color: #93A1A1;
}

/* Name.Attribute */
.highlight .nb {
  color: #B58900;
}

/* Name.Builtin */
.highlight .nc {
  color: #268BD2;
}

/* Name.Class */
.highlight .no {
  color: #CB4B16;
}

/* Name.Constant */
.highlight .nd {
  color: #268BD2;
}

/* Name.Decorator */
.highlight .ni {
  color: #CB4B16;
}

/* Name.Entity */
.highlight .ne {
  color: #CB4B16;
}

/* Name.Exception */
.highlight .nf {
  color: #268BD2;
}

/* Name.Function */
.highlight .nl {
  color: #93A1A1;
}

/* Name.Label */
.highlight .nn {
  color: #93A1A1;
}

/* Name.Namespace */
.highlight .nx {
  color: #555;
}

/* Name.Other */
.highlight .py {
  color: #93A1A1;
}

/* Name.Property */
.highlight .nt {
  color: #268BD2;
}

/* Name.Tag */
.highlight .nv {
  color: #268BD2;
}

/* Name.Variable */
.highlight .ow {
  color: #859900;
}

/* Operator.Word */
.highlight .w {
  color: #93A1A1;
}

/* Text.Whitespace */
.highlight .mf {
  color: #2AA198;
}

/* Literal.Number.Float */
.highlight .mh {
  color: #2AA198;
}

/* Literal.Number.Hex */
.highlight .mi {
  color: #2AA198;
}

/* Literal.Number.Integer */
.highlight .mo {
  color: #2AA198;
}

/* Literal.Number.Oct */
.highlight .sb {
  color: #586E75;
}

/* Literal.String.Backtick */
.highlight .sc {
  color: #2AA198;
}

/* Literal.String.Char */
.highlight .sd {
  color: #93A1A1;
}

/* Literal.String.Doc */
.highlight .s2 {
  color: #2AA198;
}

/* Literal.String.Double */
.highlight .se {
  color: #CB4B16;
}

/* Literal.String.Escape */
.highlight .sh {
  color: #93A1A1;
}

/* Literal.String.Heredoc */
.highlight .si {
  color: #2AA198;
}

/* Literal.String.Interpol */
.highlight .sx {
  color: #2AA198;
}

/* Literal.String.Other */
.highlight .sr {
  color: #DC322F;
}

/* Literal.String.Regex */
.highlight .s1 {
  color: #2AA198;
}

/* Literal.String.Single */
.highlight .ss {
  color: #2AA198;
}

/* Literal.String.Symbol */
.highlight .bp {
  color: #268BD2;
}

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #268BD2;
}

/* Name.Variable.Class */
.highlight .vg {
  color: #268BD2;
}

/* Name.Variable.Global */
.highlight .vi {
  color: #268BD2;
}

/* Name.Variable.Instance */
.highlight .il {
  color: #2AA198;
}

/* Literal.Number.Integer.Long */
